<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h2 class="welcome-heading">Issue Tracker App</h2>
        <nav>
            
            <div class="nav-left">
                
                <a href="/" id="home-button">Home</a>
            </div>
        </nav>
        <div class="create-button-container">
            <a href="/project/create" class="create-button">Create Project</a>
        </div>
    </header>


    
    <hr>
    

    <h2>All Projects:</h2>

    <ul class="project-list">
        <% projects.forEach(function(project) { %>
            <li>
                <div class="project-header">
                    <strong class="project-title">
                        Name:<%= project.name %>
                    </strong>
                    <span class="project-author">
                       <b>Author:</b><%= project.author %>
                    </span>
                </div>
                <p class="project-description">
                    <b>Description:</b><%= project.description %>
                </p>
                <a href="/project/<%= project._id %>" class="view-project-button">View Project</a>
            </li>
            <% }); %>
    </ul>

</body>

</html>